<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>TODO List</title>
</head>
<body>
    <h2>My TODO lists</h2>
    <ul>
        {% for list in lists %}
        <li><a href="/list/{{ list.id }}">{{ list.title }}</a>
            <a href="delete/{{ list.id }}"><button>Delete list</button></a>
            </li>
        {% endfor %}
    </ul>
        {% block content %}
        {% endblock %}

<footer>
    <p>
        If you are already logged in:
    <a href="/add_list"><button>Add list</button></a>
    <a href="/logout"><button>Logout</button></a>
    </p>
</footer>
</body>
</html>