<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>TODO List</title>
</head>
<body>
    <h2>My TODO lists</h2>
    <ul>
        {% for list in lists %}
            <li>{{ list.title }}
            <a href="delete/{{ list.id }}"><button>Delete list</button></a>
            <a href="add_item/{{ list.id }}"><button>Add item to list</button></a>
                <ul>
                    {% for item in items %}
                        {% if item.list_id == list.id %}
                            <li><p>{{ item.title }}<a href="delete_item/{{ item.id }}"><button>Delete from list</button></a></p>
                                <p>{{ item.description }}</p>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
        {% block content %}
        {% endblock %}

<footer>
    <a href="/add_list"><button>Add list</button></a>
    <a href="/logout"><button>Logout</button></a>
</footer>
</body>
</html>